.achievments {
	padding-bottom: 30px;

	.title {
		font-size: 22px;
		color: #000;
		text-align: center;
		padding-bottom: 30px;
	}

	.content {
		width: 500px;
		margin: 0 auto;
	}

	.info {
		.tabs {
			font-size: 0;
			text-align: center;
			input[type="radio"] {
				display: none;
			}
			label {
				vertical-align: top;
				text-align: center;
				display: inline-block;
				width: 70px;
				height: 40px;
				font-size: 10px;
				padding: 10px 15px;
				text-decoration: underline;
				cursor: pointer;
			}
			input[type="radio"]:checked+label {
				background: #fff;
				text-decoration: none;
				-webkit-border-top-left-radius: 10px;
				-webkit-border-top-right-radius: 10px;
				-moz-border-radius-topleft: 10px;
				-moz-border-radius-topright: 10px;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
		}
		.data {
			padding-top: 20px;
			min-height: 220px;
			background: #fff;
			position: relative;

			.slider {
				width: 450px;
				margin: 0 auto;
			}

			ul {
				li {
					margin: 0 5px;
					img {
						width: 100%;
						height: 100%;
					}
					
					p {
						padding-top: 5px;
						text-align: center;
					}

				}
			}
			.description {
				padding: 10px 20px;
				p {
					font-size: 14px;
				}
			}
		}
	}
	// -------------------slider-------------------
		.bx-pager {
			display: none;
		}
		.bx-wrapper {
			margin-bottom: 10px;
		}
		.bx-viewport {
			height: 74px !important;
		}

		#slider-prev {
		display: block;
		float: none;
		width: 30px;
		height: 88px;
		position: absolute;
		top: 17px;
		left: 10px;
		
		.bx-prev {
			display: block;
			width: 30px;
			height: 88px;
			background: url("../images/about/arrow-prev.jpg")center no-repeat;
			font-size: 0;
		}
	}
	#slider-next {
		display: block;
		float: none;
		width: 30px;
		height: 88px;
		position: absolute;
		top: 17px;
		right: 10px;
		
		.bx-next {
			display: block;
			width: 30px;
			height: 88px;
			background: green;
			background: url("../images/about/arrow-next.jpg")center no-repeat;
			font-size: 0;
		}
	}

	// -----------------slider end-----------------
}