// ------------------------global------------------------

.container {
	width: 960px;
	margin: 0 auto;
}

body {
	background: #e3e4e4 url("../images/about/bg.jpg")center no-repeat;
	font-family: 'PT Sans', arial, sans-serif;
	font-size: 14px;
}

.display-block {
	display: block !important;
}
.display-none {
	display: none !important;
}


// ------------variables------------

	$orange: #f26536;
	$green: #2eafb0;
	$grey: #e2e3e5;

	$bold: 600;
	$reg: 400;
	$light: 300;

	$sans: 'PT Sans', arial, sans-serif;
	$fedra-normal: 'FedraSansPro-Normal', arial, sans-serif;
	$fedra-bold: 'FedraSansPro-Bold', arial, sans-serif;
	$fedra-light: 'FedraSansPro-Light', arial, sans-serif;
	$fedra-medium: 'FedraSansPro-Medium', arial, sans-serif;


// ----------variables end----------

// ----------------------global end----------------------

// ------------------------imports------------------------

@import 'blocks/header';
@import 'blocks/about-block';
@import 'blocks/achievments';
@import 'blocks/footer';

// ----------------------imports end----------------------