
@font-face {
  font-family: 'FedraSansPro-Bold';
  src: url('FedraSansPro-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FedraSansPro-Light';
  src: url('FedraSansPro-Light.eot') format('embedded-opentype');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FedraSansPro-Medium';
  src: url('FedraSansPro-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FedraSansPro-Normal';
  src: url('FedraSansPro-Normal.eot') format('embedded-opentype');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}








